In [1]:
import pandas as pd
import glob
import os

In [2]:
allFiles = glob.glob(os.path.join ("*.csv"))

In [3]:
len(allFiles)

4

In [4]:
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

frame = pd.concat(list_, axis = 0, ignore_index = True)

In [5]:
frame.shape

(664272, 3)

In [23]:
frame.head()

   Unnamed: 0            wrkID   SrdID
0           0  34003023501w152  359608
1           1  34003023501w153  192004
2           2  34003023501w154  359579
3           3  34003023501w155  191982
4           4  34003023501w156  191982

In [7]:
wrk = frame.drop('Unnamed: 0',1)

In [24]:
wrk.head()

             wrkID   SrdID
0  34003023501w152  359608
1  34003023501w153  192004
2  34003023501w154  359579
3  34003023501w155  191982
4  34003023501w156  191982

In [25]:
wrk.to_csv('wrk_rid.csv')